@model Damplus.Mvc.Models.VideoViewModel
<style>
    .video-btn {
        position: absolute;
        width: 80px;
        top: -109px;
        left: 130px;
        cursor: pointer;
    }
</style>

<section id="blog" class="blog-area  p-relative pt-20 pb-0 fix">
    <div class="parolx-text-right">Videolar</div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <div class="section-title text-center mb-80">
                    <h2>Videolar</h2>
                    <img class="lazyload" data-src="/damplus/img/bg/circle-line.png" alt="circle">
                </div>
            </div>
        </div>
        <div class="row">
            <style>
                .single-post:hover .active-icon {
                    transform: scale(1.5);
                }
            </style>
            @foreach (var item in Model.VideoListDto.Videos)
            {
                <div class="col-lg-4 col-md-12">
                    <div class="single-post single-post-box mb-30">
                        <div class="blog-thumb">
                            <a style="cursor:default">
                                <img style="width:300px;height:200px;object-fit:cover;" class="lazyload" data-src="~/img/@item.Thumbnail" alt="@item.Title">
                            </a>
                            <div class="ct-link">
                                <a>Youtube</a>
                            </div>
                            <a style="position:absolute;left:36%;top:65px" class="video-btn video_play" data-toggle="modal" data-src="@item.Link" data-target="#myModal">
                                <img data-src="/damplus/img/videoplayerr.png" alt="img" class="active-icon lazyload">
                            </a>
                        </div>
                        <div class="blog-content">
                            <h4 class="blog_title"><a id="@item.Id" style="cursor:unset">@item.Title</a></h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Modal -->
