@model Damplus.Mvc.Areas.Admin.Models.UserWithRolesViewModel
<div class="navbar-default sidebar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">Damplus</a>
    </div>
    <div class="clearfix"></div>
    <div class="sidebar-nav navbar-collapse">

        <!-- user profile pic -->
        <div class="userprofile text-center">
            <div class="userpic"> <img src="~/damplus/assets/images/logo/logo-damplus.png" alt="" class="userpicimg"> <a href="#" class="btn btn-primary settingbtn"><i class="fa fa-gear"></i></a> </div>
            <h3 class="username">@User.Identity.Name</h3>
            <p></p>
        </div>
        <div class="clearfix"></div>
        <!-- user profile pic -->

        <ul class="nav" id="side-menu">
            <li> <a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Ana Səhifə</a> </li>
            <li>
                <a asp-area="Admin" asp-controller="Option" asp-action="Slider"><i class="fas fa-newspaper"></i> İlk yazılar<span class="badge"></span></a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Option" asp-action="About"><i class="fas fa-tools"></i> Haqqımızda<span class="badge"></span></a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Business" asp-action="Index" class="menudropdown"><i class="fas fa-th-list"></i> Xidmətlər</a>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Project" asp-action="Index" class="menudropdown"><i class="fas fa-th-list"></i> Proyektlər</a>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a asp-area="Admin" asp-controller="ProjectCategory" asp-action="Index" class="menudropdown"><i class="fas fa-th-list"></i> Proyekt kateqoriyaları</a>
                <!-- /.nav-second-level -->
            </li>
            @*<li>
                <a asp-area="Admin" asp-controller="Option" asp-action="Choose"><i class="fas fa-address-card"></i> Niyə Biz<span class="badge"></span></a>
            </li>*@
            @*<li>
                <a asp-area="Admin" asp-controller="Option" asp-action="PriceSmm"><i class="fas fa-th-list"></i> Endirimlər<span class="badge"></span></a>
            </li>*@
            <!--<li>
        <a asp-area="Admin" asp-controller="Videos" asp-action="Index" class="menudropdown"><i class="fas fa-th-list"></i> Videolar<span class="badge red"></span></a>-->
            <!-- /.nav-second-level -->
            <!--</li>-->
            <li>
                <a asp-area="Admin" asp-controller="Article" asp-action="Index"><i class="far fa-newspaper"></i> Məqalələr <span class="badge">@*12*@</span></a>
            </li>

            <li>
                <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="menudropdown"><i class="fas fa-th-list"></i> Kateqoriyalar<span class="badge red"></span></a>
                <!-- /.nav-second-level -->
            </li>


            <!--<li>
        <a asp-area="Admin" asp-controller="Banner" asp-action="Index" class="menudropdown"><i class="fas fa-th-list"></i> Sual-Cavab<span class="badge red"></span></a>-->
            <!-- /.nav-second-level -->
            <!--</li>-->

            <li> <a asp-area="Admin" asp-controller="Comment" asp-action="Index"><i class="fas fa-comments"></i> Şərhlər</a> </li>
            @if (Model.Roles.Any(r => r.Equals("SuperAdmin") || r.Equals("Role.Read")))
            {
        <li>
            <a asp-area="Admin" asp-controller="Role" asp-action="Index"><i class="fas fa-user-tag"></i> Rollar</a>
        </li>}
            @if (Model.Roles.Any(r => r.Equals("SuperAdmin") || r.Equals("User.Read")))
            {
        <li>
            <a asp-area="Admin" asp-controller="User" asp-action="Index" class="menudropdown"><i class="fas fa-user-friends"></i> İstifadəçilər <span class="badge green"></span></a>
            <!-- /.nav-second-level -->
        </li>
}

            <li>
                <a href="#" class="menudropdown"><i class="fas fa-archive"></i>SEO Əməliyyatlar <span class="badge green"></span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" style="display: none;">

                    <li>
                        <a asp-area="Admin" asp-controller="Option" asp-action="EmailSettings"><i class="fas fa-at"></i> Email<span class="badge"></span></a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Option" asp-action="GeneralSettings"><i class="fas fa-address-card"></i>SAYT-SEO<span class="badge"></span></a>
                    </li>
@*                    <li>
                        <a asp-area="Admin" asp-controller="Option" asp-action="ArticleRightSideBarWidgetSettings"><i class="fas fa-newspaper"></i> Widget <span class="badge"></span></a>
                    </li>*@

                </ul>
            </li>
            @if (Model.Roles.Any(r => r.Equals("SuperAdmin") || r.Equals("User.Read")))
            {
        <li>
            <a href="#" class="menudropdown"><i class="fas fa-archive"></i> Zibil Qutusu <span class="badge green"></span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level" style="display: none;">
                <li><a asp-area="Admin" asp-controller="Category" asp-action="DeletedCategories">Kateqoriyalar</a></li>
                <li><a asp-area="Admin" asp-controller="Article" asp-action="DeletedArticles">Məqalələr</a></li>
                <li><a asp-area="Admin" asp-controller="Comment" asp-action="DeletedComments">Şərhlər</a></li>
            </ul>
        </li>
}
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
