@model Damplus.Mvc.Areas.Admin.Models.PriceAddViewModel
@{ Layout = "_Layout";
    ViewBag.Title = "Price Add"; }

<div class="row">
    <div class="col-md-12  header-wrapper">
        <h1 class="page-header">Admin - Qiymətlər</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<ol class="breadcrumb">
    <li><a asp-area="Admin" asp-action="Index" asp-controller="Home">Admin</a></li>
    <li><a asp-area="Admin" asp-action="Index" asp-controller="Price">Qiymətlər Cədvəli</a></li>
</ol>
<form asp-action="Add" enctype="multipart/form-data" method="post" id="form-team-update">
    <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()" />
    <div asp-validation-summary="All" style="display:none;" class="text-danger" id="validation-summary" aria-hidden="true">
    </div>
    <div class="form-group">
        <label asp-for="Header"></label>
        <input class="form-control" asp-for="Header" />
        <span class="text-danger" asp-validation-for="Header"></span>
    </div>
    <div class="form-group">
        <label asp-for="PriceValue"></label>
        <input class="form-control" asp-for="PriceValue"/>
        <span class="text-danger" asp-validation-for="PriceValue"></span>
    </div>
    <div class="form-group">
        <p class="alert-info">Aşağıdakı textləri ən azı 3 və ya 4 nü doldurun</p>
        <label asp-for="Text"></label>
        <input class="form-control" asp-for="Text"/>
        <span class="text-danger" asp-validation-for="Text"></span>
    </div>
    <div class="form-group">
        <label asp-for="Text2"></label>
        <input class="form-control" asp-for="Text2"/>
        <span class="text-danger" asp-validation-for="Text2"></span>
    </div>
    <div class="form-group">
        <label asp-for="Text3"></label>
        <input class="form-control" asp-for="Text3"/>
        <span class="text-danger" asp-validation-for="Text3"></span>
    </div>
    <div class="form-group">
        <label asp-for="Text4"></label>
        <input class="form-control" asp-for="Text4" />
        <span class="text-danger" asp-validation-for="Text4"></span>
    </div>
    <div class="form-group">
        <label for="categoryList" asp-for="BusinessId">Qiyməti olan xidməti seçməyin</label>
        <select asp-for="BusinessId" asp-items="@(new SelectList(Model.Business.Where(x=>x.PID!= 0),"Id","Title"))" id="categoryList" class="form-control">
            <option></option>
        </select>
        <span class="text-danger" asp-validation-for="BusinessId"></span>
    </div>
    <div class="form-group">
        <a asp-action="Index" asp-controller="Price" asp-area="Admin" class="btn btn-danger btn-block"><span class="fas fa-times"></span> Ləğv Et</a>
        <button type="submit" class="btn btn-primary btn-block" id="btnSave"><span class="fas fa-save"></span>Yadda Saxla</button>
    </div>
</form>

