@using Damplus.Entities.Concrete
@using Microsoft.Extensions.Options
@inject IOptionsSnapshot<WebsiteInfo> info
@{ var item = info.Value; }
@model Damplus.Entities.DTOs.EmailSendDto
<!-- =========================
        Google Map
=========================  -->
<section class="google-map p-0">
    <div id="map" style="height: 500px;"></div>
    <script src="~/damplus/assets/js/google-map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqrqPZOVegy1VIdyIcndxZY9YGoK-x0Yo&amp;callback=initMap"
            async defer></script>
</section><!-- /.GoogleMap -->
<!-- ==========================
    contact layout 1
=========================== -->
<section class="contact-layout1 pt-0 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="contact-panel">
                    <div class="contact__panel-info">
                        <div class="contact__panel-info-top">
                            <div class="contact-info-box">
                                <h4 class="contact__info-box-title">Ünvan</h4>
                                <ul class="contact__info-list list-unstyled">
                                    <li>@item.Location</li>
                                </ul><!-- /.contact__info-list -->
                            </div><!-- /.contact-info-box -->
                            <div class="contact-info-box">
                                <h4 class="contact__info-box-title">Email ünvanı</h4>
                                <ul class="contact__info-list list-unstyled">
                                    <li>Email: <a href="mailto:Promina@7oroof.com">@item.Email</a></li>
                                </ul><!-- /.contact__info-list -->
                            </div><!-- /.contact-info-box -->
                        </div><!-- /.contact__panel-info-top -->
                        <div class="contact__panel-info-bottom">
                            <strong class="contact__panel-info-title">
                                İş vaxtı: həftə içi 09:00-18:00
                            </strong>
                            <div class="contact__number d-flex align-items-center">
                                <i class="icon-phone"></i>
                                <a href="tel:@item.Phone">@item.Phone</a>
                            </div>
                        </div><!-- /.contact__panel-info-bottom -->
                    </div><!-- /.contact__panel-info -->
                    <form method="post" asp-action="Contact" asp-controller="Home" class="contact__panel-form">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="contact__panel-title">Əlaqə</h4>
                                <p class="contact__panel-desc mb-40">
                                    Bizim Əlaqə Saxlamaq üçün aşağıdakı formu doldura bilərsiniz.
                                </p>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" asp-for="Name" class="form-control" placeholder="Ad Soyad"
                                           required>
                                </div>
                            </div><!-- /.col-lg-6 -->
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" asp-for="Subject" class="form-control" placeholder="Nömrəniz"
                                            required>
                                </div>
                            </div><!-- /.col-lg-6 -->
                            <div class="col-sm-6 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <input type="text" asp-for="Email" class="form-control" placeholder="Email"
                                            required>
                                </div>
                            </div><!-- /.col-lg-6 -->
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" asp-for="Message" placeholder="Additional Details!"
                                                required></textarea>
                                </div>
                            </div><!-- /.col-lg-12 -->
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <input type="submit" value="Göndər" class="btn btn__primary btn__block  btn__lg" />
                            </div><!-- /.col-lg-12 -->
                        </div><!-- /.row -->
                    </form>
                </div><!-- /.contact__panel -->
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.contact layout 1 -->


@await Component.InvokeAsync("NToastNotify")