<!-- ============================
           Slider
       ============================== -->
@await Component.InvokeAsync("Slider")<!-- /.slider -->
<!-- ========================
  About Layout 2
=========================== -->
@await Component.InvokeAsync("About") <!-- /.About Layout 2 -->
<!-- ===========================
  Services layout 1
============================= -->
@await Component.InvokeAsync("Services")<!-- /.Services layout 1 -->
<!-- ===========================
  portfolio Grid
============================= -->
@await Component.InvokeAsync("Projects")<!-- /.portfolio Grid -->
<!-- ======================
  Blog Grid
========================= -->
@await Component.InvokeAsync("Articles")
<!-- /.blog Grid -->
<!-- =====================
     Clients
  ======================== -->
<section class="clients border-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="slick-carousel"
                     data-slick='{"slidesToShow": 6, "arrows": false, "dots": false, "autoplay": true,"autoplaySpeed": 2000, "infinite": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 4}}, {"breakpoint": 767, "settings": {"slidesToShow": 3}}, {"breakpoint": 480, "settings": {"slidesToShow": 2}}]}'>
                    <div class="client">
                        <a href="#"><img class="lazyload" data-src="~/damplus/assets/images/clients/TITLE-az-1-2.png" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                        <a href="#"><img class="lazyload" data-src="~/damplus/assets/images/clients/metaklogo.png" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                        <a href="#"><img class="lazyload" data-src="~/damplus/assets/images/clients/fablogo.png" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                        <a href="#"><img class="lazyload" data-src="~/damplus/assets/images/clients/download.png" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                        <a href="#"><img class="lazyload" data-src="~/damplus/assets/images/clients/5.png" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                        <a href="#"><img class="lazyload" data-src="~/damplus/assets/images/clients/6.png" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                        <a href="#"><img class="lazyload" data-src="~/damplus/assets/images/clients/metaklogo.png" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                        <a href="#"><img class="lazyload" data-src="~/damplus/assets/images/clients/TITLE-az-1-2.png" alt="client"></a>
                    </div><!-- /.client -->
                </div><!-- /.carousel -->
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.clients -->