<!-- ==========================
    contact layout 1
=========================== -->
<section class="contact-layout1 pt-0 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <iframe src="https://whatsform.com/1mhzpP" width="100%" height="600" frameBorder="0"></iframe>
                </div><!-- /.contact__panel -->
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
</section><!-- /.contact layout 1 -->


@await Component.InvokeAsync("NToastNotify")